*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
  font-family: 'Asap', sans-serif;
}

 .input{
 position: relative;
 top: 5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .custom-a{
  color: rgb(188, 190, 220);
 }

 .custom-a:hover{
  color: white;
  transition: all 0.3s ease-in;
 }
 
 .custom-border{
  border: 1px solid green;
 }
  #search_fetch{
 width: 55rem;
 height: 3rem;
 background-color: white;
 text-indent: 20px;
 border-radius: 5px;
 }
  #search_fetch::placeholder{
 font-size: 1.5rem;
        }
.image_character {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.custom-color {
  color: rgb(220, 215, 215)!important;
  font-weight: 600!important;
  font-size: 0.8rem;
}

.custom-hover:hover{
  color: rgb(107, 107, 206)!important;
}

.contains-historique.active_historique{
  display: block!important;
}

.expansive{
  width: 63vw;
}

.menu-queries{
display : none;
position :absolute;
top :-300px;
left : 0;
width: 100%;
background-color:rgb(33, 37, 41);
z-index: 100000;
padding : 10px;
}
.roule.active_roule{
  display: block!important;
  transition:  all 0.7s ease-out!important;
}
.letter.spawn{
display: block!important;
transition:  all 0.6s ease-in;
}
@media  only screen and (max-width:1199px) {
  .custom-push{
    margin-left: 70px;
  }
  .custom-marge{
   margin-top: -1rem!important;
  }
}
@media  only screen and (max-width:1000px) {
   .custom-push{
    margin-left: 0;
  }
  .custom-marge{
   margin-top: -8rem!important;
  }
 .reserves{
    margin-top: 0!important;
  }
 .releve{
        position: relative;
        top: -10rem!important;
    } 
    .custom-over{
      width: 100%!important;
    }   
  .custom-over{
      width: 100%!important;
      overflow:scroll;
      overflow-y:hidden;
    }
}
@media  only screen and (max-width:768px) {
   .custom-title{
    font-size: 0.8rem;
   }
   .custom-img{
    position: relative;
    left: -2rem;
    top: -2rem;
    scale:0.6;
   }
   .custom-display{
    display: none!important;
   }
   .menu-queries {
    transition: top 0.3s ease;
    display: block;
  }

  .menu-queries.active_menu {
    top: 0;
    margin-top: 4.2rem;
  }
  .expansive{
   width:100vw;
  }
   .custom-push{
    margin-left: 0;
  }
    .custom-over{
      width: 100%!important;
      overflow:scroll;
      overflow-y:hidden;
    }
    .custom-none{
        display: none;
    }
    .custom-display{
        display: block!important;
    }
    .over-width{
        padding-top:0!important;
    }
}

@media  only screen and (max-width:500px) {
    .over-block{
        display: block!important;
    }
}
